:root {
  --light-bg: #eee;
  --dark-bg: #333;
  --orange: #fc7323;
  --first-green: #70b22d;
  --second-green: #238276;
  --font-text: "Noto Sans", sans-serif;
  --font-headings: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-text);
}

.light-theme {
  background-color: var(--light-bg);
  color: black;
}

.dark-theme {
  background-color: var(--dark-bg);
  color: whitesmoke;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
}

.header {
  background-color: var(--first-green);
  padding: 1.5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.flex-header {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .flex-header .main-title {
  margin: 0;
}

button {
  border: 1px solid black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.container {
  max-width: 800px;
  margin: 1rem auto;
}

.menu {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 8px;
  line-height: 2rem;
}

.menu a {
  color: #0077cc;
  text-decoration: none;
}

.menu a:hover {
  color: darkblue;
  text-decoration: underline;
}

article {
  padding: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
}

.footer {
  padding: 1rem;
  background-color: var(--first-green);
  text-align: center;
}
